<!-- Default home page -->
<style>
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

    h6, h4 {
        color: #939393;
    }
    h6 {
        text-transform: uppercase;
        text-align: center;
    }
    b {
        color: #222;
    }
    .gt-logo {
        display: block;
        width: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .gt-badge {
        margin-top: 22%;
        text-align: center;
    }
    @media (min-width: 768px) {
        .gt-badge {
            padding-left: 15%;
        }
    }
    @media (min-width: 550px) {
        .four.columns {
            width: 33.33333333%;
        }
    }
/*    .main img {
        width: 33.33333333%;
        float: left;
    }*/
</style>
<img src="/images/gt.png" class="gt-logo" />
<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>The Greater Than Challenge</h4>
        <p>Every week we release three minimlaist re-designs of a classic NHL logo. Now we need you to tell us which design is the best! Vote to tell us which logo is <b>greater than</b> the others</p>
        <a href="#designs" class="button">See the designs</a>
      </div>
      <div class="one-half column gt-badge" style="">
        <img alt="" src="/images/Logo_Edmonton_Oilers.svg" width="200" height="200" data-file-width="1939" data-file-height="1939">
        <h6>week one<br/><b>Edmonton Oilers</b></h6>
      </div>
    </div>
  </div>
<div class="main clearfix" style="margin-top: 10%">
    <div class="row u-full-width" id="designs">
        <h6>This Week's Designs</h6>
        <div><img class="four columns" src="/images/lord1.jpg"></div>
        <div><img class="four columns" src="/images/lord2.jpg"></div>
        <div><img class="four columns" src="/images/lord3.jpg"></div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
var $root = $('html, body');
$('a').click(function() {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});
</script>
